.button {
    &,
    &:link,
    &:visited {
        border: 1px solid $color-primary;
        font-size: $font-xs;
        cursor: pointer;
        padding: 0.7rem 1.5rem;
        transition: all 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }

    &:disabled {
        background-color: $color-grey-dark-4;
        color: $color-grey-dark-1;
        border: none;
        cursor: not-allowed;

        &:hover {
            transform: translateY(0);
            box-shadow: none;
        }
    }

    &--white {
        background-color: #fff;
    }

    &--black {
        background-color: #000;
    }

    &--facebook {
        background-color: $color-facebook;
    }

    &--white-text {
        color: #fff;
    }

    &--black-text {
        color: #000;
    }

    &--tertiary-text {
        color: $color-tertiary;
    }

    &--small {
        width: 10rem;
    }

    &--medium {
        width: 20rem;
    }

    &--large {
        width: 25rem;
    }

    &--full {
        width: 100%;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

        &--before {
            margin-right: 0.5rem;
        }

        &--after {
            margin-left: 0.5rem;
        }
    }
}
