.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: min-content;
    border-bottom: 1px solid $color-grey-light-2;

    &__title {
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        font-weight: 300;
        padding-left: 2rem;
    }

    &__search {
        flex-grow: 1;
        margin: 0 4rem;

        @include responsive(tab-port) {
            width: 100vw;
            order: 1;
            margin: 0;
        }
    }

    &__icons {
        display: flex;
        justify-content: flex-end;
        height: 5rem;
    }

    &__icon-link {
        display: flex;
        align-items: center;
        padding: 0 0.7rem;

        &:hover {
            background-color: $color-grey-light-2;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
    }
}
