.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
        display: flex;
        align-items: center;
        border: none;
        margin: 0 1rem;
        background-color: #fff;
        cursor: pointer;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    &__input {
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 1px solid $color-primary;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-grey-dark-3;
            text-align: center;
        }
    }
}
