.textbox {
    &__text-wrapper {
        border-bottom: 1px solid $color-primary;
        display: flex;

        &--grey {
            background: $color-grey-light-3;
        }

        &:focus {
            outline: none;
        }

        &:focus-within {
            border-bottom: 1px solid $color-tertiary;
        }

        &--error {
            &:focus-within {
                border-bottom: 1px solid $color-red;
            }
        }
    }

    & &__input {
        border: none;

        &--grey {
            background: $color-grey-light-3;
        }
    }

    &__icon {
        width: 2rem;
        height: auto;
    }

    &__error {
        color: $color-red;
        font-style: italic;
        font-size: $font-xxs;
    }
}
