.nav-bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    font-family: var(--main-font);
    background-color: #9BE8E0;
    padding: 10px 20px 10px 0;
}

.nav-bar__element {
    display: inline-block;
    margin: 10px 0 10px 30px;
    list-style-type: none;;
    cursor: default;
}

.nav-bar__right-element {
    float: right;
    margin: 10px 30px 10px 0;
    list-style-type: none;
    cursor: pointer;
}

.nav-bar__right-element__search-bar {
    display: inline;
    background-color: rgb(149, 203, 197);
    margin-right: 20px;
    padding: 5px;
    cursor: default;
}

.nav-bar__right-element__search-bar__text-input {
    background-color: inherit;
    border: none;
    color: #000000;
    margin-right: 10px;
}

.nav-bar__right-element__search-bar__text-input:focus {
    outline: none;
}

.nav-bar__right-element__search-bar__icon {
    color: rgb(125, 139, 136);
    cursor: pointer;
}

.nav-bar__vertical-rule {
    border: 0.5px solid grey;
    height: 34px;
    float: right;
    margin-right: 20px;
    list-style-type: none;
}