// COLORS
$color-primary: #191919;

$color-secondary-light: #858585;
$color-secondary: #707070;
$color-secondary-dark: #595959;

$color-tertiary: #c69963;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-orange: #ffa500;

// FILTERS
$color-secondary-light-filter: invert(56%) sepia(0%) saturate(12%) hue-rotate(134deg)
    brightness(93%) contrast(94%);
$color-secondary-filter: invert(45%) sepia(4%) saturate(21%) hue-rotate(318deg) brightness(95%)
    contrast(85%);

$color-orange-filter: invert(70%) sepia(24%) saturate(5060%) hue-rotate(360deg) brightness(103%)
    contrast(103%);

$color-red-filter: invert(21%) sepia(62%) saturate(6482%) hue-rotate(354deg) brightness(103%)
    contrast(126%);

// FONTS
$font-primary: 'Lato', sans-serif;

// FONT-SIZES
$font-xs: 1.4rem;
$font-s: 1.5rem;
$font-m: 1.6rem;
$font-l: 1.8rem;
$font-xl: 2rem;
