.rating-bar {
    display: flex;
    align-items: center;

    &__bar {
        flex-grow: 1;
        height: 1.5rem;
        border-radius: 20px;
        margin: 0 1rem;
    }

    &__count {
        font-size: $font-xs;
        margin: 0 1rem;
    }
}
