.rating {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__value {
        color: $color-grey-dark-2;
        font-size: $font-l;
        font-weight: 300;
        margin: 0 1rem;
        text-shadow: 1px 1px 1px $color-grey-light-3;
    }

    &__star-wrapper {
        display: flex;
        align-items: center;
        width: 8.7rem;

        &--left {
            justify-content: flex-start;
        }

        &--center {
            justify-content: center;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__star {
        &:not(:last-child) {
            margin-right: 0.3rem;
        }
    }

    &__num-of-ratings {
        font-size: 1.4rem;
        margin: 0 0.5rem;
    }
}
