.rating {
    display: flex;
    align-items: center;
    justify-content: center;

    &__stars {
        display: flex;
        align-items: center;
    }

    &__star {
        &:not(:last-child) {
            margin-right: 0.3rem;
        }
    }

    &__value {
        color: $color-grey-dark-2;
        font-size: $font-l;
        font-weight: 300;
        margin: 0 1rem;
        text-shadow: 1px 1px 1px $color-grey-light-3;
    }

    &__num-of-ratings {
        font-size: 1.4rem;
        margin: 0 0.5rem;
    }
}
