:root {
    --primary-color: #9BE8E0;
    --primary-color-complement: #E89BA3;
    --secondary-color: #FFFFF4;
    --secondary-color-complement: #F4F4FF;
    --tertiary-color: #B0EDE7;
    --tertiary-color-complement: #EDB0B6;
    --border-gold: #CABC90;

    --header-font: 'Tangerine', cursive;
    --main-font: 'Gupter', serif;
}

@import 'components/navBar.css';

@import 'pages/index.css';