.carousel-thumbnail {
    align-self: stretch;
    position: relative;

    &--medium {
        min-width: 20rem;
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        color: $color-grey-dark-1;
        background-color: rgba(#fff, 0.8);
    }
}
