.checkbox-category-filter {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    &__checkboxes {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }
}
